body {
  margin: 0;
}

html, body {
  height: 100%;
}

#panel {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #efefef;
}

#total {
    padding: 10px 0px;
}

#controls {
    padding: 10px 0px;
    
}

#map {
    max-width: 1900px;
    height: 700px;
}

.custom .leaflet-popup-tip-container {
    width: 40px;
    height: 20px;
    right: 0;
    overflow: hidden;
    pointer-events: none;
    display: block;
    position:relative;
}

#heading {
    width:160px;
    margin: 0 0 10px 0;
}
.custom .leaflet-popup-content-wrapper {
    width:200px;
    float: left;
    display: block;
    background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#e9e9e9');
    border-bottom:1px solid #bababa;

    font-size:14px;
    font-weight:bold;
    text-align:center;
    line-height:23px;

    color:#444444;
    text-shadow:0px 1px 0px #fff;

    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,.25);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,.25);
    box-shadow:0px 1px 3px rgba(0,0,0,.25);

    -webkit-border-radius:0px 0px 4px 4px;
    -moz-border-radius:0px 0px 4px 4px;
    border-radius:0px 0px 4px 4px;

    border: 1px solid;
    margin: 0 0 7px;
}

#content {
    width: 160px;
    background:#fcfcfc;

    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,.25);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,.25);
    box-shadow:0px 1px 3px rgba(0,0,0,.25);

    -webkit-border-radius:0px 0px 4px 4px;
    -moz-border-radius:0px 0px 4px 4px;
    border-radius:0px 0px 4px 4px;

    border: 1px solid;
    display: block;
    float: left;
    margin: 0 0 7px;
}

.custom .leaflet-popup-content-wrapper #content p {
    font-size: 13px;
    font-weight: 500;
    /* text-align: center; */
    line-height: 4px;
    color: #555555;
    width: 100%;
    /*float: left;*/
    margin-left: 0px;
}


#newMembers {
    height: 400px;
}
